.main{
  width:100vw;
  margin-top: var(--page-header-height);
}
.cell{
  border-radius: 12px;
  line-height: 24px;
  height:24px;
  padding: 0px 12px 0px 12px;
  position: absolute;
  box-sizing: border-box;
}

.group1{
  background-color: white;
}

.group2{
  background-color: white;
}
